*{
    margin: 0;
    padding: 0;
    font-family:  Tahoma;
    line-height: 1.5rem;
}
main{
    height: 100vh;
}
.lower{
    background-color: #68645f;
    border-top: 5px solid #9c9797;
}
.lowerDiv{
    background-color: #ffff;
    padding: 15px;
    border-bottom: 5px solid #9c9797;
    margin-top: 75px;
    /* position: relative;
    top: 20%; */
}
.lowerDiv div{
    background-color: #F6BE00;
    padding: 10px 22px;
    max-width: 50%;
    margin-left: -22px;
    margin-top: -8.5px;
    margin-bottom: 10px;
    border-bottom: 5px solid #b48a00;
    /* position: absolute; */
}
p{
    padding-top: 15px;
    font-size: 0.9rem;
}
.upper, .lower{
    padding: 50px 500px;
    min-height: 50vh;
    width: 70vw;
}
.greenWord{
    color: #03a062;
    font-weight: 600;
}
.upperDiv{
    padding: 15px;
}
h2{
    margin-bottom: 25px ;
    margin-top: 75px;
}
@media screen and (max-width: 1024px) {
    .upper, .lower{
        padding: 50px 0;
        min-height: 27vh;
        width: 100vw;
    } 
    p{
        text-align: justify;
    }
    
}
@media screen and (max-width : 767px){
    h2{
        margin-top: 5px;
    }
    .lowerDiv{
        margin-top: -10px;
    }
}